/**
 * Iniciando o layout >> CONTATO <<
 */
.contato input,
.contato button {
    display: block;
}

form {
    margin: 0 auto;
    width: 50%;

    @media #{$mq-mobile} {
        width: auto;
    }
}

.contato input,
textarea {
    width: 100%;
    margin-bottom: 0.8em;
    padding: 4px 8px;
    @include border-radius(10px);
    border: 2px solid #ccc;
}

.contato button {
    margin: 0 auto;
    background: $cor-principal;
    border: 0;
    color: #fff;
    width: 210px;
    height: 38px;
    font-size: 1.2em;
    @include border-radius(10px);
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
